@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/IDroid.otf');
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(174, 245, 174);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    min-height: 150px;
    background-image: linear-gradient(to bottom, #37C576, #227A49, #1A5C38);
    color: white;
    padding: 20px 0px 0px 20px;
}

header > h1{
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

header > p{
    text-align: center;
    padding: 10px;
    margin: 15px;
}

a{
    text-decoration: none;
    color: green
}

a.externo::after{
    content: 🔗;
}

a:hover{
    text-decoration: underline;
}

nav {
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin: 10px 5px 0px 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

nav > a:hover{
    text-decoration: underline;
    background-color: rgba(74, 168, 74, 0.61);
    transition-duration: .5s;
}

main{    
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.199);
}

main > a{
    text-decoration: none;
    font-weight: bolder;
}

main img{
    width: 100%;
}

main img.bugdroidimg{
    display: block;
    margin: auto;
    max-width: 350px;
}

p{
    text-indent: 20px;
    padding: 10px;
    margin: 10px 0px;
    text-align: justify;
    line-height: 1.2em;
}

p > a:hover{
    text-decoration: underline;
}

strong{
    color: green;
}

h2{
    font-family: 'idroid', Times, serif;
    color: green;
    margin: 0px;
    padding: 10px 10px  ;
}

h3{
    font-family: 'idroid', Times, serif;
    background-image: linear-gradient(to right, #D0EFDE, #F7FCF9);
    color: green;
}

.video{
    background-color: rgb(2, 83, 2);
    margin: -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #C5EBD6;
    border-radius: 10px;
    margin: 5px -10px 10px -10px;
    padding: 5px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.199);
}

aside > h4{
    color: white;
    background-color: #2FA866;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

li{
    text-decoration: underline;
}

footer{
    background-color: rgb(3, 78, 3);
    text-align: center;
    font-size: 0.8em;
    margin: 15px 0px 0px 0px;
}

footer > p{
    color: white;
    text-align: center;
}

footer > p > a{
    color: white;
    font-weight: bolder;
    padding: 5px;
}